* {
    box-sizing: border-box;
}

body  {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 6px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(56, 56, 56);
    transition: 0.3s;
}

.menu-contenedor {
    height: 50px;
}

.menu {
    padding: 13px;
    cursor: pointer;
    float: right;
}

.barras {
    width: 24px;
    height: 2px;
    background-color: rgb(163, 163, 163);
    transition: 0.3s;
}

.barras:nth-child(2) {
    margin: 9px 0;
}

.menu:hover .barras{
    background-color: white;
}

.barras-cruz {
    background-color: rgb(189, 68, 68);
}

.barras-cruz:nth-child(1) {
    transform: translate(0, 11px) rotate(45deg);
}

.barras-cruz:nth-child(2) {
    opacity: 0;
}

.barras-cruz:nth-child(3) {
    transform: translate(0, -11px) rotate(-45deg);
}

.menu:hover .barras-cruz{
    background-color: rgb(255, 70, 70);
}

.contenedor .row {
    position: relative;
    display: block;
    border-radius: 8px;
}

.contenedor .row .enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    max-width: 50px;
    border-radius: 8px;
    overflow: hidden;
}

.contenedor .row .enlaces:hover {
    background-image: linear-gradient(rgb(154, 209, 255), rgb(104, 159, 205), rgb(54, 109, 155));
}

.contenedor .row .enlaces .icono {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.contenedor .row .enlaces .icono i {
    font-size: 1.3em;
}

.contenedor .row .enlaces .enlace-texto {
    background-color: crimson;
}

.contenedor .row .tooltip {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 150%;
    width: 120px;
    padding: 6px 0px;
    transform: translate(0%, -50%);
    z-index: 1;
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: white;
    border-radius: 6px;
    transition: opacity 1s;
}

.contenedor .row:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.contenedor .row .tooltip::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(0%, -50%);
    border: 8px solid transparent;
    border-right-color: rgb(56, 56, 56);
}

.dropdown-content {
    position: absolute;
    top: 0;
    left: 56px;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.dropdown-content a {
    min-width: 160px;
    padding: 16px 0px;
    text-decoration: none;
    white-space: nowrap;
    color: white;
}

.dropdown-content a:hover {
    background-image: linear-gradient(rgb(154, 209, 255), rgb(104, 159, 205), rgb(54, 109, 155));
}