* {
    box-sizing: border-box;
}

body  {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(56, 56, 56);
    transition: 0.5s;
}

.contenedor-responsive {
    width: 200px;
    transition: 0.5s;
}

.contenedor a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 15px;
}

.contenedor a:hover {
    background-image: linear-gradient(rgb(154, 209, 255), rgb(104, 159, 205), rgb(54, 109, 155));
}

.enlace-texto {
    display: none;
    transition: 0.5s;
}

.enlace-texto-responsive {
    display: inline;
    transition: 0.5s;
}